<form method="post" action="/authentication/consent">
  {{if .ErrorName}}
    <div role="alert">
        <b>{{ .ErrorMessage }}</b>
    </div>
  {{end}}
  <h3>Authorization</h3>
  {{range .RequestedScopes}}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="grant_scope" value="{{.}}" id="{{.}}" checked>
      <label class="form-check-label" for="{{.}}">{{.}}</label>
    </div>
  {{end}}
  <input type="hidden" name="consent_challenge" value="{{.ConsentChallenge}}">
  <input type="hidden" name="csrf_token" value="{{ .token }}">
  <button type="submit">Authorize</button>
</form>
