<!-- templates/layout.tmpl -->
<html>
  <head>
    <title>OAuth 2.0 Login</title>
    {{ partial "css" }}
  </head>
  <body>
    <header>
      {{ partial "header" }}
    </header>
    <main>
      {{ yield }}
    </main>
    <footer>
      {{ partial "footer" }}
    </footer>
  </body>
</html>
