{{if not .LoginChallenge}}
  <div class="text-center alert alert-danger" role="alert">
    <b>{{ .ErrorName }}</b>
    <br>
    {{ .ErrorContent }}
  </div>
{{end}}
{{if .LoginChallenge}}
<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
<input type="hidden" name="login_challenge" value="{{.LoginChallenge}}">
<label for="inputEmail" class="sr-only">Email address</label>
<input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
<label for="inputPassword" class="sr-only">Password</label>
<input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
<div class="checkbox mb-3">
  <label>
    <input type="checkbox" name="remember_me" value="true"> Remember me
  </label>
</div>
<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
<p class="mt-5 mb-3 text-muted">&copy; 2021</p>
{{end}}